
body.dark {
    --ion-background-color: #121212;
    --ion-text-color: #ffffff;
    /* Otros estilos para modo oscuro */
  }
  
  body {
    --ion-background-color: #ffffff;
    --ion-text-color: #000000;
    /* Estilos para modo claro */
  }