<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      BIOGRAFÍA
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">YO</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>BIOGRAFíA</ion-card-title>
      <ion-card-subtitle>Samuel Cuti</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p>La historia detras del silencio.</p>
    </ion-card-content>
    <ion-chip>
      <ion-avatar>
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-label>Tecnología</ion-label>
      <ion-icon name="close-circle"></ion-icon>
    </ion-chip>
    <ion-chip>
      <ion-avatar>
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-label>Deportes</ion-label>
      <ion-icon name="close-circle"></ion-icon>
    </ion-chip>
    
  </ion-card>
  

  </ion-content>
