<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Notas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Notas</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item>
    <ion-label position="floating">Escribe tu nota</ion-label>
    <ion-textarea style="height: 100vh;"></ion-textarea>
  </ion-item>

  <ion-button expand="full" (click)="guardarTexto()" style="margin-top: 10px;">
    Guardar
  </ion-button>
</ion-content>
